/*

What is important to know when linking an external file (like a stylesheet) to an HTML file?
  - The path is important to know.
What tricks did you use to help you with positioning? How hard was it to get the site as you wanted it?
  - It wasn't that hard because I'm familiar with css, the tricks we used was adding a border around elements to visualize where they are on the page.
What CSS did you use to modify the element style (like size, color, etc.)
  - We modified the font sizes, color of fonts, gave boreers, and changed the font varietns.
Did you modify the HTML to include classes or ids? If so, which did you choose and why? If you didn't, how would you know which one to add to your HTML?
  - We did modify the html to include classes and in some points had to modify the markup to match the type of style we were going for.
When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why?
  - My code was better! Buffett must have made that site in the 90s when tables were a best practice.


*/

body {
  background-color: #fff;
}

header {
   text-align: center;
   border-bottom: 1px solid #000080;
}

h1 {
  color: #000080;
  font-variant: small-caps;
  margin: 0 0;
}
h2 {
   color: #000080;
}
h3 {
   color: #000080;
}
p {
  color: #000080;
}

a {
 color: #000080;
}

a:visited {
  color: #ff0000;
}
ul {
  display: inline-block;
  border: 0px solid green;
  width: 450px;
}

.description {
  font-size: .5em;
  margin: .2em 0 1em 0;

}

.geico-border {
  border-bottom: 1px solid #000080;
  border-top: 1px solid #000080;
  padding: 15px 0;
}

.bottom-border {
  border-bottom: 1px solid #000080;
  padding: 15px 0;
}